PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.gm0bwxt.mongodb.net/devflow?retryWrites=true&w=majority
JWT_SECRET=super_secret_jwt_token_change_in_production_12345
JWT_EXPIRES_IN=7d
CORS_ORIGIN=https://your-devflow-app.vercel.app,http://localhost:3000
GOOGLE_CLIENT_ID=948093820180-1ah7ncjaqm7glvanop39689cnk2pek2c.apps.googleusercontent.com
